<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>65656</h1>
    <div>
        @RenderBody()
    </div>

    @*@if (IsSectionDefined("Scripts")) {

        }*@
    @RenderSection("Scripts", required: false)@*渲染节点名称*@
    @*<script src="~/js/CustomScript.js"></script>*@
</body>
</html>
