<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<environment exclude="Development">
            <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        </environment>*@

    @*integrity是安全认证码同时检测资源是否完整,Crossorigin是允许你可以匿名访问url链接*@
    @*asp开头是本地样式*@
    <environment include="Development,Staging,Production">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
              integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"

              asp-fallback-href="~/lib/twitter-bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              
              >
              
    </environment>


    <script src="~/lib/echarts/echarts.js"></script> @*百度图表*@
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-sm  bg-dark navbar-dark ">
            <a class="navbar-brand" asp-controller="home" asp-action="index">
                <img src="~/images/avatar-371-456323.png" width="30" height="30" alt="没有图片" />
            </a>
            <!-- 定义折叠按钮 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- 把菜单包含在容器内 -->
            <div id="collapsibleNavbar" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="home" asp-action="Index">学生列表</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="home" asp-action="Create">添加学生</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " asp-controller="home" asp-action="ECharts">统计表</a>
                    </li>
                </ul>
            </div>



        </nav>
        @RenderBody()
    </div>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    @RenderSection("Scripts", required: false) @*渲染节点名称全局处理，自定义js在此渲染*@
</body>
</html>
